@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.Button {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px; /*Try writing a SASS function to manipulate font-size based on text size*/
    cursor: pointer;
}