@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
.NoticeSymbolMark {
    height: 17px;
    width: 17px;
    margin-left: 3px;
    margin-top: -1px;
    border-radius: 30px;
    background-color: #1068bf;
}

.NoticeSymbol {
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    padding-top: 1px;
}