.PasswordStrengthBar {
    height: 15px;
    width: auto;
    justify-content: center;
    padding-top: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.StrengthBarContainer{
    display: flex;
}

.WeekBar{
    height: 10px;
    width: 100px;
    border-radius: 25px;
    background-color: red;
}

.ModerateBar{
    height: 10px;
    width: 200px;
    border-radius: 25px;
    background-color:#ffbc00;
}

.StrongBar{
    height: 10px;
    width: 300px;
    border-radius: 25px;
    background-color: green;
}

h6 {
    margin-top: -1px;
    margin-left: 2px;
}