@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');
.ToolTip {
    /* height: 280px; */
    height: auto;
    width: 350px;
    margin-top: 0px;
    margin-left: 1px;
    /* background-color: #fff; */
    /* background-color: rgb(240, 232, 232); */
    background-color: #eee;
    /* border: 1px solid #fff; */
    border: 1px solid transparent;
    /* border-radius: 10px; */
    box-shadow: 10px 10px 15px #ccc;
    z-index: 3;
}
.ToolTipHeaderSection {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.ToolTipBody {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    padding-left: 10px;
}

span {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.ToolTipBottom {
    height: 50px;
}